{% extends 'base.html' %}

{% block title %} | Register Account {% endblock %}

{% block content %}
<section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-user-plus"></i> Register</h4>
            </div>
            <div class="card-body">
              <!-- Alerts -->
              {% include 'partials/_alerts.html' %}
              <form method="POST" action="{% url 'Register' %}" enctype='multipart/form-data'>
                  {% csrf_token %}
                  {{ form.as_p }}
                  {{ profile_form.as_p }}
                  <input type="submit" value="Register" class="btn btn-secondary btn-block">
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}